 <nav class="tab-bar">
      <section class="left-small">
        <a class="menu-icon" id="menu-toggle"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Phemer</h1>
      </section>

    </nav>


     <div id="wrapper">
            <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#home">
                       Phemer
                    </a>
                </li>
            
                <li>
                    <a href="#client" alt="Shortcuts">Client<span class="fi-link" alt="Shortcuts"></a>
                </li>
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div id="content">
 
   
           </div>
 
        </div>
        <!-- /#page-content-wrapper -->
      </div>
    </div>