<div class="large-3 large-centered columns">
  <div class="login-box">
  <div class="row">
  <div class="large-12 columns">
    <form>
       <div class="row">
         <div class="large-12 columns">
             <input type="text" id="username" name="username" placeholder="Username" />
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
             <input type="password" id="password" name="password" placeholder="Password" />
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
          <input type="button" class="button expand dologin " value="Log In"/>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>