

<form id="{{#id}}edit{{/id}}donewclient" data-abide>
<div class="row">
    <div class=" input-wrapper large-12 columns">
      <label>title
        <input type="text" required  name="title" id="title" value="{{title}}" />
      </label>
    </div>
</div>


<div class="row">
    <div class="input-wrapper large-12 columns">
      <label>firstname
        <input type="text" required  name="firstname" id="firstname" value="{{firstname}}"  />
      </label>
       <small class="error">Name is required and must be a string.</small>
    </div>
</div>



<div class="row">
    <div class=" input-wrapper large-12 columns">
      <label>lastname
        <input type="text" value="{{lastname}}"  required  name="lastname" id="lastname" />
      </label>
       <small class="error">Name is required and must be a string.</small>
    </div>
</div>


<div class="row">
    <div class="large-2 columns">
    
       <button  type="submit">Submit</button>
      </div>
</div>


</form>