

<form id="{{#id}}edit{{/id}}donewproyect" data-abide>
<div class="row">
    <div class=" input-wrapper large-12 columns">
      <label>Name
        <input type="text" required  name="name" id="name" value="{{name}}" />
      </label>
    </div>
</div>


<div class="row">
    <div class="input-wrapper large-12 columns">
      <label>description
        <input type="text"   name="description" id="description" value="{{description}}"  />
      </label>
       <small class="error">Name is required and must be a string.</small>
    </div>
</div>






<div class="row">
    <div class="large-2 columns">
    
       <button  type="submit">Submit</button>
      </div>
</div>


</form>